body{
	background-color:  	 	#9ed870;
}
.flex-sm-fill{
	border-radius: 0px !important;
	background-color:  	 	#ffd39b !important;
	border-style: solid !important;
	border-color: #eab18a;
	color:black !important;
	font-family: 'Lato', sans-serif !important; 

}